nav{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: white;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
a.active{
    color: red;
}


.footer{
   width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: white;
    font-size: 40px;

}

.home{
    width: 100%;
    height: 70vh;
    background-color: rgba(34,42, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    color: white;
}
.about{
    width: 100%;
    height: 70vh;
    background-color: rgba(34, 49, 37, 0.886);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    color: white;
}
.contact{
    width: 100%;
    height: 70vh;
    background-color: rgb(42, 34, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    color: white;
}